<nav th:fragment="common-header" class="navbar-fixed-top">
    <nav class="navbar-inversed navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home/index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/car/new">New Vehicles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/car/used">Used Vehicles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/specials">Specials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/contactUs">Contact Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sales
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <a class="dropdown-item" href="/sales/makepurchase/addTransaction">Make a Purchase</a>
                            <a class="dropdown-item" href="/admin/car">Cars</a>
                            <a class="dropdown-item" href="/admin/specials">Specials</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</nav>