        <nav th:fragment="common-header" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/home/">Home</a>
                    <a class="navbar-brand" href="/home/car/new">New Inventory</a>
                    <a class="navbar-brand" href="/home/car/used">Used Inventory</a>
                    <a class="navbar-brand" href="/home/specials">Specials</a>
                    <a class="navbar-brand" href="/home/contactUs">Contact</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                </div>
            </div>
        </nav>