<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Report Manager</title>
</head>
<body>
<!-- Main Body of Page -->
<div class="container">
    <div class="row m-4">
        <div class="col">
            <h1><a href="/" class="text-dark">Sales Reports</a></h1>
        </div>
    </div>

    <div class="row m-4 border border-dark">
        <div class="col-7 m-3">
            <form class="row g-3" action="/admin/reports/sales" method="POST" role="form" id="salesForm">
                <div class="col-4">
                    <label for="user" class="form-label">User</label>
                    <select id="user" name="user" class="form-control">
                        <option name="all">All</option>
                        <option th:each="user: ${users}" th:value="${user.id}" th:text="${user.firstName + ' ' + user.lastName}"></option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label for="fromDate" class="form-label">From Date</label>
                    <input type="text" class="search-control" id="fromDate" name="fromDate">
                </div>

                <div class="col-md-4">
                    <label for="toDate" class="form-label">To Date</label>
                    <input type="text" class="search-control" id="toDate" name="toDate">
                </div>

                <div class="col-4 mt-4">
                    <button type="submit" id="searchButton" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row m-4">
        <div class="col">
            <h3>Search Reports</h3>
        </div>
    </div>
    <div class="row m-4 border border-dark">
        <div class="col text-center m-3">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Total Sales</th>
                    <th>Total Vehicles</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sale: ${sales}">
                    <td th:text="${sale.name}">User</td>
                    <td th:text="${sale.totalSales}">Total Sales</td>
                    <td th:text="${sale.totalVehicles}">Total Vechicles</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- End main body -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>